{{ define "body" }}
<h3>Create OTP</h3>
<hr>

{{ template "flash" . }}

<form method="post" action="/otp">
    <div class="centered"> <img src="{{ .qr }}" alt="qr"> </div>
    <label for="">Enter Token:</label>
    <input type="number" name="token">
    <button type="submit">Submit</button>
</form>
{{ end }}
