{% extends "base.html.twig" %}

{% block body %}
<h3>Create OTP</h3>
<hr>

{% include "blocks/flash.html.twig" %}

<form method="post" action="/otp">
    <div class="centered"> <img src="data:image/png;base64,{{ qr }}" alt="qr"> </div>
    <label for="">Enter Token:</label>
    <input type="number" name="token">
    <button type="submit">Submit</button>
</form>

{% endblock %}
