{{ define "body" }}
<h3 class="title">Token</h3>
<hr>

{{ template "flash" . }}

<form method="post" action="/otp">
    <label for="">Enter OTP:</label>
    <input type="number" name="token">
    <button type="submit">Submit</button>
</form>
{{ end }}
