{% extends "base.html.twig" %}

{% block body %}
<h3 class="title">Token</h3>
<hr>

{% include "blocks/flash.html.twig" %}

<form method="post" action="/otp">
    <label for="">Enter OTP:</label>
    <input type="number" name="token">
    <button type="submit">Submit</button>
</form>
{% endblock %}
