{% extends "base.html.twig" %}

{% block body %}
<h3>Login</h3>
<hr>

{% include "blocks/flash.html.twig" %}

<form method="post" action="/login">
    <label for="">Username</label>
    <input type="text" name="username">

    <label for="">Password</label>
    <input type="password" name="password">

    <button type="submit">Login</button>
    <div class="centered"><a href="/register">Register new account</a></div>
</form>
{% endblock %}
