{% extends "base.html.twig" %}

{% block body %}
<h3>Register account</h3>
<hr>

{% include "blocks/flash.html.twig" %}

<form method="post" action="/register">
    <label for="">Username</label>
    <input type="text" name="username">

    <label for="">Password</label>
    <input type="password" name="password">

    <button type="submit">Register</button>
    <div class="centered"><a href="/">Cancel</a></div>
</form>
{% endblock %}
